.headwrap {
	width: 100%;
	background: #fff;
	padding: 25px 0px;
}

.head {
	width: 1100px;
	margin: 0 auto;
	height: 56px;
}

.headl {
	float: left;
}

.headl img {
	display: block;
	height: 56px;
	float: left;
	margin-right: 24px;
}

.headlist {
	float: right;
	height: 42px;
	padding-top: 14px;
	line-height: 42px;
}

.headlist li {
	float: left;
	padding: 0 22px;
}

.headlist li a {
	color: #333;
	font-size: 20px;
}